@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body,
html {
  overflow-x: hidden;
}

body {
  background-color: #e0e0db;
}
.nav {
  display: flex;

  font-family: "EB Garamond", serif;
  font-weight: 400;

  align-items: center;

  padding: 2vw 4vw;
  margin-bottom: 3.5rem;
}
.nav_title {
  font-size: 2rem;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;

  margin-left: auto;
}
.nav_list_menu-icon {
  display: none;
}
.nav_list_item {
  margin-right: 1rem;
}

.nav_list_item_link img {
  display: block;
  width: 1rem;
  margin-left: 0.5rem;
}

.main {
  padding: 0 4vw;
}
.section_title {
  font-style: italic;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}

.hero {
  display: flex;
  align-items: flex-start;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.hero_img {
  width: 50%;
  padding-right: 6rem;
}
.hero_text {
  margin-left: 4vw;
  letter-spacing: 1px;
}
.hero_text_intro {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

.hero_text_intro:after {
  content: "";
  width: 100%;
  height: 1px;
  border: none;
  background-color: black;
  margin: 0 2rem;
}

.hero_text_body {
  font-size: 4.8rem;
  line-height: 1.232;
}
.hero_text_body em {
  font-style: italic;
}
.hero_text_body strong {
  font-weight: 800;
}
.work {
  font-family: "EB Garamond", serif;
  margin-bottom: 4vw;
}
.work_title {
  padding: 10vh 0;
}

.work_list {
  display: flex;
  flex-wrap: wrap;
}

.work_list_item {
  width: 50%;

  padding-right: 2vw;
  padding-bottom: 2vw;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_list_item_title {
  font-size: 2.3rem;
  position: absolute;
  z-index: -1;
}
.work_list_item img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  transition: opacity 0.2s;
}

.work_list_item:hover img {
  opacity: 0;
}

.location {
  margin-bottom: 8vw;
}
.location_title {
  margin-bottom: 2vw;
}

.location_name {
  font-family: "EB Garamond", serif;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 8vw;
}

.location_map {
  margin: auto;
  max-width: 75rem;
  width: 100%;
  height: 600px;
  border: 0;
  display: block;
}

.footer {
  display: flex;
  padding: 8vw 4vw;
  min-height: 33vh;

  background-color: rgb(41, 39, 39);
  color: white;

  font-family: "EB Garamond", serif;
}

.footer_text {
  width: 42%;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer_text_title {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 2.8rem;
}
.footer_text_description {
  line-height: 2rem;

  margin-bottom: 1.5rem;
}
.footer_text_made-with a {
  border-bottom: 1px solid white;
}
.footer_contact {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 35%;
}
.footer_contact_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer_contact_input input {
  font-size: 1.2rem;
  padding: 2rem 0rem 2rem 2rem;
  width: calc(100% * 2 / 3 - 0.5rem);
  max-width: 30rem;
  margin-right: 0.5rem;
  border: 5px solid rgb(41, 39, 39);
}
.footer_contact_input input::placeholder {
  color: rgb(172, 166, 166);
  font-family: "Cormorant Garamond", serif;
}
.footer_contact_input button {
  width: calc(100% / 3);
  height: 80%;
  background-color: rgb(41, 39, 39);
  border: 2px solid white;
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}
.footer_contact_input button:hover {
  background-color: white;

  color: rgb(41, 39, 39);
}

.footer_contact_icon {
  margin-left: auto;
  margin-top: 3rem;
}
.footer_contact_icon img {
  width: 1.2rem;
}

@media only screen and (max-width: 767.98px) {
  .main {
    padding: 0 6vw;
  }
  .nav {
    padding: 6vw 4vw;
  }
  .nav_title {
    font-size: 1.5rem;
  }
  .nav_list_menu-icon {
    display: block;
    margin-left: auto;
  }
  .nav_list {
    display: none;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero_img {
    width: 100%;
    padding-right: 0;
  }
  .hero_text {
    margin-left: 0;
  }
  .hero_text_intro {
    flex-direction: column-reverse;
    margin-top: 2rem;
    align-items: flex-start;
  }
  .hero_text_intro::after {
    margin-bottom: 3rem;
    align-self: center;
  }
  .hero_text_body {
    font-size: 3rem;
  }
  .work_title {
    padding: 20vh 0;
  }
  .work_list_item {
    width: 100%;
    padding-right: 0;
    padding-bottom: 2.5rem;
    height: 80vw;
  }
  .location_title {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .location_name {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .location_map {
    height: 200px;
    margin-bottom: 5rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer_text {
    width: 100%;
    margin-bottom: 3rem;
  }
  .footer_text_title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .footer_contact {
    width: 100%;
  }
  .footer_contact_input {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer_contact_input input {
    padding: 1.2rem 0 1.2rem 2rem;
    width: auto;
    margin-bottom: 2rem;
  }
  .footer_contact_input button {
    width: auto;
    padding: 1.2rem 2rem;
  }
}
